//! **************************************************************************
// Written by: Map P.20131013 on Fri Jun 23 00:02:26 2017
//! **************************************************************************

SCHEMATIC START;
COMP "a" LOCATE = SITE "T10" LEVEL 1;
COMP "b" LOCATE = SITE "R10" LEVEL 1;
COMP "c" LOCATE = SITE "K16" LEVEL 1;
COMP "d" LOCATE = SITE "K13" LEVEL 1;
COMP "e" LOCATE = SITE "P15" LEVEL 1;
COMP "f" LOCATE = SITE "T11" LEVEL 1;
COMP "g" LOCATE = SITE "L18" LEVEL 1;
COMP "clk100mhz" LOCATE = SITE "E3" LEVEL 1;
COMP "sw0" LOCATE = SITE "J15" LEVEL 1;
COMP "sw1" LOCATE = SITE "L16" LEVEL 1;
COMP "sw2" LOCATE = SITE "M13" LEVEL 1;
COMP "sw3" LOCATE = SITE "R15" LEVEL 1;
COMP "sw4" LOCATE = SITE "R17" LEVEL 1;
COMP "sw5" LOCATE = SITE "T18" LEVEL 1;
COMP "sw6" LOCATE = SITE "U18" LEVEL 1;
COMP "sw7" LOCATE = SITE "R13" LEVEL 1;
COMP "sw8" LOCATE = SITE "T8" LEVEL 1;
COMP "sw9" LOCATE = SITE "U8" LEVEL 1;
COMP "d0" LOCATE = SITE "J17" LEVEL 1;
COMP "d1" LOCATE = SITE "J18" LEVEL 1;
COMP "d2" LOCATE = SITE "T9" LEVEL 1;
COMP "d3" LOCATE = SITE "J14" LEVEL 1;
COMP "d4" LOCATE = SITE "P14" LEVEL 1;
COMP "d5" LOCATE = SITE "T14" LEVEL 1;
COMP "d6" LOCATE = SITE "K2" LEVEL 1;
COMP "d7" LOCATE = SITE "U13" LEVEL 1;
COMP "btnc" LOCATE = SITE "N17" LEVEL 1;
COMP "btnd" LOCATE = SITE "P18" LEVEL 1;
COMP "btnl" LOCATE = SITE "P17" LEVEL 1;
COMP "btnr" LOCATE = SITE "M17" LEVEL 1;
COMP "btnu" LOCATE = SITE "M18" LEVEL 1;
COMP "led10" LOCATE = SITE "U14" LEVEL 1;
COMP "led11" LOCATE = SITE "T16" LEVEL 1;
COMP "led12" LOCATE = SITE "V15" LEVEL 1;
COMP "led13" LOCATE = SITE "V14" LEVEL 1;
COMP "led14" LOCATE = SITE "V12" LEVEL 1;
COMP "led15" LOCATE = SITE "V11" LEVEL 1;
COMP "RGB1_Blue" LOCATE = SITE "R12" LEVEL 1;
COMP "RGB1_Red" LOCATE = SITE "N15" LEVEL 1;
COMP "led0" LOCATE = SITE "H17" LEVEL 1;
COMP "led1" LOCATE = SITE "K15" LEVEL 1;
COMP "led2" LOCATE = SITE "J13" LEVEL 1;
COMP "led3" LOCATE = SITE "N14" LEVEL 1;
COMP "led4" LOCATE = SITE "R18" LEVEL 1;
COMP "led5" LOCATE = SITE "V17" LEVEL 1;
COMP "led6" LOCATE = SITE "U17" LEVEL 1;
COMP "led7" LOCATE = SITE "U16" LEVEL 1;
COMP "led8" LOCATE = SITE "V16" LEVEL 1;
COMP "led9" LOCATE = SITE "T15" LEVEL 1;
COMP "RGB1_Green" LOCATE = SITE "M16" LEVEL 1;
SCHEMATIC END;

